.body {
    background-color: #ffebe8;
}

.Slidesize1{
    
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.Dark{
    color: white;
    background-color: #212121;
}

.NavName{
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #F65A83;
}

.ulmarleft{
    margin-left: 60px;
}

.ulmarleft2{
    margin-left: 10px;
}

.nav-item:hover{
    background-color: #F65A83;
    transform: scale(1.1);
}

.Icons{
    height: 20px;
    margin-left: 10px;
}

.Icons2{
    height: 40px;
}

.lightbtn{
    background-color: #F65A83;
    color: #ffebe8;
}

.lightbtn:hover{
    background-color: #08192b;
    color: #ffebe8;
}

.text-center2{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.container{
    background-color: #08192b;
}

.text-white{
    color: black;
    font-weight: 600;
}

.width-footer{
    width: 100%;
}