body {
    background-color: #ffebe8;
}
.navbar{
    background-color: #F65A83;
}

.ulmarleft{
    margin-left: 80px;
}

.nav-item:hover{
    background-color: #F65A83;
    transform: scale(1.1);
}

.Icons{
    height: 20px;
    margin-left: 10px;
}

.top-heading {
    color: #F65A83;
    margin: 30px;
    font-family:Brush script MT , Brush Script Std, cursive;
    font-size: 55px;
}

.slide-bar-title {
    font-size: 45px;
    font-weight: bold;
    color: white;
}


body p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #F65A83;
}

body h3 {
    text-align: center;
    color: red;
    font-size: 35px;
    font-weight: bold;
}


.slide-size{
    width: 75%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px #B270A2;
}


.card {
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #B270A2;

}

.First-card-container {
    margin-top: 8%;
}

.second-card-conatainer {
    margin-top: 5%;
}

.Third-card-container {
    margin-top: 5%;
}

.Fourth-card-container {
    margin-top: 5%;
}

.Fifth-card-container {
    margin-top: 5%;
}

.Sixth-card-container {
    margin-top: 5%;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
    /* scale = increase the size of image */
}