    body {
    background-color: #ffebe8;
    }
    .Dark{
        color: white;
        background-color: #212121;
    }
    
    .NavName{
        color: whitesmoke;
        font-size: 20px;
        font-family: 'Bree Serif', serif;
    }
    
    .navbar{
        display: flex;
        justify-content: space-between;
        background-color: #F65A83;
    }
    
    .ulmarleft{
        margin-left: 60px;
    }
    
    .ulmarleft2{
        margin-left: 10px;
    }
    
    .nav-item:hover{
        background-color: #F65A83;
        transform: scale(1.1);
    }
    
    .Icons{
        height: 20px;
        margin-left: 10px;
    }
    
    .Icons2{
        height: 40px;
    }
    
    .lightbtn{
        background-color: #F65A83;
        color: #ffebe8;
    }
    
    .lightbtn:hover{
        background-color: #08192b;
        color: #ffebe8;
    }

.top-heading {
    color: #F65A83;
    margin-top: 100px;
    margin-bottom: 30px;
    font-family:Brush script MT , Brush Script Std, cursive;
    font-size: 50px;
}

.slide-bar-title {
    font-size: 45px;
    font-weight: bold;
    color: white;
}



body p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #F65A83;
}

body h3 {
    text-align: center;
    color: #F65A83;
    font-size: 35px;
    font-weight: bold;
}


.slide-size{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px #B270A2;
}


.card {
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #B270A2;

}

.First-card-container {
    margin-top: 8%;
}

.second-card-conatainer {
    margin-top: 5%;
}

.Third-card-container {
    margin-top: 5%;
}

.Fourth-card-container {
    margin-top: 5%;
}

.Fifth-card-container {
    margin-top: 5%;
}

.Sixth-card-container {
    margin-top: 5%;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
    /* scale = increase the size of image */
}
.ScrollToTop{
    display: flex;
    flex-flow: row-reverse wrap;
}

.scroll-top{
    background-color: #ffebe8;
    border: 1px solid black;
    height: 40px;
    width: 120px;
    position: fixed; 
    bottom: 10px;
    border-radius: 20px;
    z-index: 10;
    margin-left: 20px;
    
}

.scroll-top:hover{
    background-color: #e72e77;
    color:white
    
}

.last-btn{
    padding-top: 5px;
    color:black;
}