body{
    background-color: #ffebe8;
}
.navbar{
    background-color: #F65A83;
}

.ulmarleft{
    margin-left: 80px;
}

.nav-item:hover{
    background-color: #F65A83;
    transform: scale(1.1);
}

.Icons{
    height: 20px;
    margin-left: 10px;
}
.Destination-btn{
    color: black;
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    margin: 10px;
    background-color: #FFE5F1;
}
.Destination-btn:hover{
    background-color: #F65A83;
    font-size: 13px;
}
.card-text{
    text-align: center;
    font-size:25px;
    color: #F65A83;
    font-weight: bold;
}
.card{
    border-radius: 15px;
    box-shadow: 0 0 7px 0px #B270A2;
}

.container-title{
    font-size: 50px;
    color: #F65A83;
    text-align: center;
    margin: 30px;
    font-family:Brush script MT , Brush Script Std, cursive;
}
.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.2s ease;
}
.inner:hover img{
    transform: scale(1.3);       /* scale = increase the size of image */
}
.horizontal-card{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #F65A83;
    /* width: 1100px; */
    margin-top: 30px;   
}
.img{
    height: 450px;
    width: 500px;
    padding: 10px;
    border-radius: 15px;
}
.horizontal-card-text{
    color: white;
    font-size: 17px;
    text-align: justify;
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 70px;
}

.card-text-end{
    margin-left: 70px;
    color: white;
    font-size: 18px;
}
.card-text-end1{
    margin-left: 70px;
    margin-top: -15px;
    color: white;
    font-size: 18px;
}

.horizontal-card-2{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    height: 450px;
    border-radius: 10px;
    background-color: #FFD1D1;
    cursor: pointer;

}
.container-title-2{
    font-size: 50px;
    color: #F653A8;
    text-align: center;
    margin: 40px;
    font-family:Brush script MT , Brush Script Std, cursive;
}
.card-title-2{
    font-size: 24px;
    margin-left: 30px;
}

.card-text-end-2{
    color: black;
    font-size: 18px;
  
    
}
.card-text-end1-2{
    margin-top: -15px;
    color: black;
    font-size: 18px;
    
}
.img-2{
    height: 450px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 0 5px 2px gray;
}




