
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

    








.top-heading {
    font-size: 50px;
  color: #F653A8;
  text-align: center;
  margin: 40px;
}

.carousel-inner {
    box-shadow: 0 0 10px 2px #B270A2;
    border-radius: 20px;
    height: 550px;
    width: 75;
    cursor: pointer;
}

.card {
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #B270A2;

}

.First-card-container {
    margin-top: 8%;
}

.second-card-conatainer {
    margin-top: 5%;
}

.Third-card-container {
    margin-top: 5%;
}

.Fourth-card-container {
    margin-top: 5%;
}

.Fifth-card-container {
    margin-top: 5%;
}

.Sixth-card-container {
    margin-top: 5%;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
    /* scale = increase the size of image */
}

.availability form{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background: #eee;
    padding: 2rem;
    border-radius: .5rem;
}

.availability form .box{
    flex: 1 1 20rem;
}

.availability form .box p{
    font-size: 2rem;
    color: var(--primary);
}

.availability form .box .input{
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--black);
    margin: 1rem 0;
    border-radius: .5rem;
}
.btn{
    margin-left: 20px;
    border: black 1px solid;
    text-decoration: none;
  }
  .btn:hover{
    border: #e72e77 1px solid;
    background-color: #e72e77;
    color: black;
  }
  .heading2{font-size: 50px;
  color: #F653A8;
  text-align: center;
  margin: 40px;
  ;}
  .about .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6rem;
}

.about .row .image{
    flex: 1 1 30rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 51rem;
}

.about .row .content h3{
    font-size: 3.5rem;
    color: var(--primary);
    padding: 2rem 0;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
    line-height: 1.8;
}
