*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.container{
    position: relative;
    max-width: 480px;
    width: 100%;
    height: 600px;
    transform-style: preserve-3d;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
    background-color: #0e1734;
    
}

input[type="checkbox"]{
    display: none;
}
#check:checked ~ .container{
    transform: rotateY(-180deg);
}
.container  .page{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #0e1734;
}

.container  .login{
    transform: rotateY(0deg);
}

.container.signup{
    transform: rotateY(-180deg);
    backface-visibility: hidden;

}

.container  .heading{
    position: relative;
    font-size: 3.5em;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
}

.container  .heading::before,
.container  .heading::after{
    position: absolute;
    content: ' ';
    height: 6px;
    width: 25px;
    background: linear-gradient(97deg, #5f00ff 0%, #cd00ff 50%, #fb2091 100%);
    transition: 0.3s ease;
}

.container  .heading::before{
    bottom: 0;
    left: 30%;
    transform: translateX(-50%);
    animation: animate 2s linear infinite;
}

.container  .heading::before{
    bottom: 0;
    left: 30%;
    transform: translateX(-50%);
    animation: animate2 2s linear infinite;
}

@keyframes animate {
    50%{
        transform: translateX(50%);
    }
}

@keyframes animate2 {
    50%{
        transform: translateX(-50%);
    }
}

.container  .page form{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.container  .page form .entryarea{
    position: relative;
    margin: 15px 0;
    height: 60px;
    line-height: 60px;
}

.container  .page form .entryarea input{
    position: absolute;
    width: 100%;
    font-size: 1.5em;
    padding: 0 20px;
    border: 1.5px solid #888;
    border-radius: 7px;
    outline: none;
    background-color: transparent;
    line-height:  60px;
    transition: 0.1s ease;
}

.container  .page form .entryarea .labelline{
    position: absolute;
    font-size: 1.2em;
    margin: 0.20px;
    padding: 0.5px;
    color: #888;
    background-color: #0e1734;
    transition: 0.2s ease;
}

.container  .page form .entryarea input:focus,
.container  .page form .entryarea input:valid{
    color: #ff0080;
    border: 3px solid #ff0080;
}


.container  .page form .entryarea input:focus + .labelline,
.container  .page form .entryarea input:valid + .labelline{
    color: #ff0080;
    height: 30px;
    line-height: 30px;
    transform: translate(-15px,-15px) scale(0.88);
    z-index: 1111;
}

.container  .page form a{
text-decoration: none;
color: #ff0080;
}

.container  .page form a:hover{
    text-decoration: underline;
}

.container  .page form #btn{
    margin: 20px 0;
    font-size: 1.6em;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 7px;
    padding: 8px 0;
    background: linear-gradient(97deg, #5f00ff 0%, #cd00ff 50%, #fb2091 100%);
    color: #fff;
    cursor: pointer;
    
}