body {
    background-color: #ffebe8;
}

.navbar{
    background-color: #F65A83;
}

.ulmarleft{
    margin-left: 100px;
}

.nav-item:hover{
    background-color: #F65A83;
    transform: scale(1.1);
}

.Icons{
    height: 20px;
    margin-left: 10px;
}

.heading-bride{
    padding-top: 100px;
}
.conatainer-1 {
    font-family: cursive;
}

.buttons-container {
    margin-left: 5px;
    padding-bottom: 50px;


}

.btn-content {
    margin-left: 20px;
    border: black 1px solid;
    text-decoration: none;
}

.btn-content:hover {
    border: #e72e77 1px solid;
    background-color: #e72e77;
    color: black;

}

a {
    text-decoration: none;
}

.card-slide-area{
padding: 10px;
border: white 15px solid;
border-radius: 10px;
}

.text-center2{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.container-2{
    background-color: #08192b;
}

.text-white{
    color: black;
    font-weight: 600;
}

.class{
    width: 100%;
}

.Icons{
    height: 20px;
    margin-left: 10px;
}

.Icons2{
    height: 40px;
}

.lightbtn{
    background-color: #F65A83;
    color: #ffebe8;
}

.lightbtn:hover{
    background-color: #08192b;
    color: #ffebe8;
}