*{
    margin-top: 0%;
    margin-left: 0%;
}

body{
    background-color: #ffebe8;
}

.Dark{
    color: white;
    background-color: #212121;
}

.NavName{
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #F65A83;
}

.ulmarleft{
    margin-left: 60px;
}

.ulmarleft2{
    margin-left: 10px;
}


.nav-item:hover{
    background-color: #F65A83;
    transform: scale(1.1);
}

.Icons{
    height: 20px;
    margin-left: 10px;
}

.Icons2{
    height: 40px;
}

.lightbtn{
    background-color: #F65A83;
    color: #ffebe8;
}

.lightbtn:hover{
    background-color: #08192b;
    color: #ffebe8;
}
  

.Slidesize{
    display: flex; 
    margin-top: 70px;
    float: left;

}

.div-1{
    display:flex;
    background-color: #f1b5c5;
}



.img-1{
  height: 490px;
}

.img-3{
    height: 450px;
}

body h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 43px;
    color: #ec6f91;

    font-weight: bold;
}
.title-right{
    font-size: 100px;
    font-family:Brush script MT , Brush Script Std, cursive;
}
.ScrollToTop{
    display: flex;
    flex-flow: row-reverse wrap;
}


.scroll-top{
    background-color: #ffebe8;
    border: 1px solid black;
    height: 40px;
    width: 120px;
    position: fixed; 
    bottom: 30px;
    border-radius: 20px;
    z-index: 10;
    
}

.scroll-top:hover{
    background-color: #e72e77;
    color:white
    
}

.last-btn{
    padding-top: 5px;
    color:black;
}
.text-center2{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.container-2{
    background-color: #08192b;
}

.CardsRow{
    align-items: center;
    justify-content: center;
}

.text-white{
    color: black;
    font-weight: 600;
}

.class{
    width: 100%;
}
.text-container{
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}
.text{
    
   text-justify: auto;
   color: black;
  
}
.images-container{
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.images{
    margin-left: 5px;
    height: 250px;
}

.card-slide-area{
    padding: 10px;
    border: white 15px solid;
    border-radius: 10px;
    background-color: white;
    margin-top:60px ;
    }
    
    .image-block{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
   
    
    
    
    
    /* .Icons{
        height: 20px;
        margin-left: 10px;
    }
    
    .Icons2{
        height: 40px;
    }
    
    .lightbtn{
        background-color: #F65A83;
        color: #ffebe8;
    }
    
    .lightbtn:hover{
        background-color: #08192b;
        color: #ffebe8;
    } */

      #img6{
        height:450px;
      }

      #img7{
        height:450px;
      }

      #img8{
        height:450px;
      }
     
      #img9{
        height:450px;
      }

      #img10{
        height:450px;
      }

      

      #img11{
        height:450px;
      }
      #img12{
        height:450px;
      }
      #img13{
        height:450px;
      }
      #img14{
        height:450px;
      }
      #img15{
        height:450px;
      }
      #img16{
        height:450px;
      }
      #img17{
        height:450px;
      }
      #img18{
        height:450px;
      }
      #img19{
        height:450px;
      }
      #img20{
        height:450px;
      }
      #img21{
        height:450px;
      }
      #img22{
        height:450px;
      }
      #img23{
        height:450px;
      }
      #img24{
        height:450px;
      }
      #img25{
        height:450px;
      }
      #img26{
        height:450px;
      }