body {
    background-color: #ffebe8;
}

.navbar{
    background-color: #F65A83;
}

.ulmarleft{
    margin-left: 100px;
}

.nav-item:hover{
    background-color: #F65A83;
    transform: scale(1.1);
}

.Icons{
    height: 20px;
    margin-left: 10px;
}
.conatainer-1 {
    font-family: cursive;
}

.buttons-container {
    margin-left: 5px;
    padding-bottom: 50px;


}

.btn-content {
    margin-left: 20px;
    border: black 1px solid;
    text-decoration: none;
}

.btn-content:hover {
    border: #e72e77 1px solid;
    background-color: #e72e77;
    color: black;

}

a {
    text-decoration: none;
}

.card-slide-area{
padding: 10px;
border: white 15px solid;
border-radius: 10px;
}

.image-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ScrollToTop{
    display: flex;
    flex-flow: row-reverse wrap;
}

.scroll-top{
    background-color: #ffebe8;
    border: 1px solid black;
    height: 40px;
    width: 120px;
    position: fixed; 
    bottom: 10px;
    border-radius: 20px;
    z-index: 10;
    margin-right: 5px;
}

.scroll-top:hover{
    background-color: #e72e77;
    color:white
    
}

.last-btn{
    padding-top: 5px;
    color:black;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center; */
}

.text-center2{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.container-2{
    background-color: #08192b;
}

.text-white{
    color: black;
    font-weight: 600;
}

.class{
    width: 100%;
}