body {
    background-color: #ffebe8;
}


.card-img-top{
   
    box-shadow: 3px 3px 3px 2px rgb(114, 110, 110);
    transition: 1s;
    cursor: pointer;
}



.card-title{
    color: #e72e77;
    cursor: pointer;

}

.head{
    color:blueviolet;
    cursor: pointer;
}

.clr{
    color: #e72e77;
}

.container-md{
    margin-bottom: 10px;
}

.card{
    border-radius: 15px;
    
}

.img1{
    height: 200px;
    width: 150px;
    padding: 5px;
}

.Dark{
    color: white;
    background-color: #212121;
}

.NavName{
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #F65A83;
}

.ulmarleft{
    margin-left: 60px;
}

.ulmarleft2{
    margin-left: 10px;
}

.nav-item:hover{
    background-color: #F65A83;
    transform: scale(1.1);
}

.Icons{
    height: 20px;
    margin-left: 10px;
}

.Icons2{
    height: 40px;
}

.lightbtn{
    background-color: #F65A83;
    color: #ffebe8;
}

.lightbtn:hover{
    background-color: #08192b;
    color: #ffebe8;
}
