body {
    background-color: #ffebe8;
}


.card-img-top{
   
    box-shadow: 3px 3px 3px 2px rgb(114, 110, 110);
    transition: 1s;
    cursor: pointer;
}



.card-title{
    color:blueviolet;
    cursor: pointer;

}




